
	
	<div class="col-md-3">
		<fieldset>
			<legend>Date d'intervention</legend>
		<app-date></app-date>
		<div class="form-group">
			<label for="tranche-horraire">tranche horraire souhaité:</label>
			<select class="form-control" [(ngModel)]="trancheHorraire">
					<option  selected="selected">Sélectionner une tranche horaire</option>
					<option value="8h00 - 10h00">8h00 - 10h00</option>
					<option value="10h00 - 12h00">10h00 - 12h00</option>
					<option value="12h00 - 14h00">12h00 - 14h00</option>
					<option value="14h00 - 16h00">14h00 - 16h00</option>
					<option value="16h00 -18h00">16h00 -18h00</option>
			</select>
		</div>
		</fieldset>
	</div>
