# Eclipse
.classpath
.project
.settings/
.metadata/
build/
bin/

#Seam
syndicflow/WebContent/WEB-INF/dev/

# JMeter
*.log
jmeter/apache-jmeter-2.11/docs/
jmeter/apache-jmeter-2.11/printable_docs/

# Word
**/~$*

#Mac
.DS_Store

# Maven
log/
target/

#gedit
*~
*.bak

#svn
**/.svn/

#jmeter
*.jtl
*.class

#jasper
*.jasper

.recommenders/
Servers/
