<div class="row" id="syndic-dispo">
	<div class="col-md-12">
		<h1>
			syndiceo : suivi de demande
		</h1>

		<p>
			<strong>Un syndic disponible et proche</strong>
		</p>
		<p style="color:red">un accès web permanent</p>
		<p style="color:red">des gestionnaires à votre écoute</p>
	</div>

	<ul class="nav nav-tabs">
		<li routerLinkActive="active">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Demande d'intervention<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<li>
					<a routerLink="/depot-demande-intervention">Dépot demande intervention</a>
				</li>
				<li>
					<a routerLink="/intervention-en-cours">Intevention en cours</a>
				</li>
				<li>
					<a routerLink="/intervention-ag">Intervention AG</a>
				</li>
				<li>
					<a routerLink="/intervention-archive">Intervention archivés</a>
				</li>
			</ul>
		</li>
		<li routerLinkActive="active">
			<a class="dropdown-toggle" data-toggle="dropdown">Demande d'information<strong class="caret"></strong></a>
			<ul class="dropdown-menu">

				<li>
					<a routerLink="/depot-demander-information">Demande d'information</a>
				</li>
				<li>
					<a routerLink="/information-en-cours">Informations en cours</a>
				</li>
				<li>
					<a routerLink="/information-archive">Information archivé</a>
				</li>

			</ul>
		</li>
	</ul>
</div>