


<div class="row" id="syndic-dispo">
	<div class="col-md-12">
		<h1>
			syndiceo : suivie de demande
		</h1>

		<p>
			<strong>Un syndic disponible et proche</strong>
		</p>
		<p style="color:red">un accès web permanent</p>
		<p style="color:red">des gestionnaires à votre écoute</p>
	</div>
</div>
<ul class="nav nav-tabs">
	<li routerLinkActive="active" 
	>
		<a   href="#"  class="dropdown-toggle" data-toggle="dropdown">Demande d'intervention<strong class="caret"></strong></a>
		<ul class="dropdown-menu">
			<li >
				<a routerLink="/depot-demande-intervention">Dépot demande intervention</a>
			</li>
			<li>
				<a routerLink="/intervention-en-cours">Intevention en cours</a>
			</li>
			<li>
				<a routerLink="/intervention-ag">Intervention AG</a>
			</li>
			<li>
				<a routerLink="/intervention-archive">Intervention archivés</a>
			</li>
		</ul>
	</li>
	<li routerLinkActive="active">
		<a  class="dropdown-toggle" data-toggle="dropdown" 
		
		>Demande d'information<strong class="caret"></strong></a>
		<ul class="dropdown-menu">
			
			<li>
				<a  routerLink="/depot-demander-information">Demande d'information</a>
			</li>
			<li>
				<a routerLink="/information-en-cours">Informations en cours</a>
			</li>
			<li>
				<a routerLink="/information-archive">Information archivé</a>
			</li>
			
		</ul>
	</li>
</ul>


<!--<div class="navbar-wrapper" style="margin-bottom: 50px">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" class="">Home</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">demande d'intervention<span class="caret"></span></a>
                            <ul class="dropdown-menu">
								<li class="divider">
								</li>
                                <li class=" dropdown">
                                    <a href="/depot-demande-intervention" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">depot demande d'intervention</a>
                                </li>
                                <li><a href="/intervention-en-cours">intervention en cours</a></li>
								   <li><a href="#">intervention AG</a></li>
								   <li><a href="#">intervention archivés</a></li>

                            </ul>
                        </li>
                        <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Managers</a></li>
                                <li><a href="#">Add New</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>-->