<nav class="navbar navbar-default" role="navigation">
 <form class="navbar-form navbar-left" role="search">
 <div class="input-group">
    <span class="input-group-addon">recherche</span>
    <input id="msg" type="text" class="form-control" [(ngModel)]="filteredStatus" name="filteredStatus" placeholder="Entrez une recherche ici...">
  </div>
</form>
</nav>

<table class="table">
  <thead>
    <tr>
      <th>
        N°
      </th>
      <th>
        Objet
      </th>
      <th>
        Date de création
      </th>
      <th>
        Domaine
      </th>
      <th>
        Demandeur
      </th>
      <th>
        immeuble
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
 
  <tbody *ngFor="let data of datas | filter:filteredStatus:'objet' ">
      <tr>
        <td> {{data.numero}} </td>
        <td>  {{data.objet}} </td>
        <td> {{data.dateCreation}} </td>
        <td> {{data.demandeur}} </td>
        <td> {{data.dateIntervention}} </td>
        <td> {{data.immeuble}} </td>
        <td> {{data.status}} </td>
        <td>
        <div class="col-md-12">
          <button type="button" class="btn btn-primary">j'abandonne la demande	</button>
        </div>
      </td>
      </tr>
  </tbody>
</table>
