<app-menu-detail-intervention></app-menu-detail-intervention>

<form>
  <fieldset>
    <legend>Etat d'avancement de la demande </legend>
    <label> Numéro de la demande </label><br />
    <label> creation le </label><br />
    <label> Etat courant</label><br />
    <label> Gestionnaire </label><br />

    <legend>Description de la demande</legend>
    <label> Domaine</label><br />
    <label> Sous domaine </label><br />
    <label> Description</label><br />
    <label> Batiment </label><br />
    <label> Location </label><br />

    <legend>Copropriétaire contact pour l'intervention</legend>
    <label> Intervention visible des Copropriétaire</label><br />
    <label> Nom </label><br />
    <label> Email</label><br />
    <label> Membre du conseil syndical a mettre en copie </label><br />
    <label> Email à mettre en copie </label><br />

    <legend>Interventions</legend>
    <label> Date souhaitée</label><br />
    <label> Tranche horaire souhaitée </label><br />
    <label> Intervention planifiées</label><br />
    <div class="btn-group1">
      <button>Date d'intervention</button>
      <button>Horaire d'intervention</button>
      <button>Si possible horaire precis</button>
      <button>Contact prestataire</button>
      <button>raison necessitant une intervention complémentaire</button>
    </div>
  </fieldset>
  <br />
   <fieldset class="form-group">
      <legend>Pièces jointes</legend>
    </fieldset>
    <fieldset class="form-group">
      <legend>Fichier(s) attaché(s) aux messages</legend>
    </fieldset>
    <fieldset class="form-group">
      <legend></legend>
       <div class="btn-group">
          <button>Envoyer les modifications</button>
          <button>supprimer la demande</button>
          <button>Envoyer un message</button>
          <button>Modifier les destinataires</button>
        </div>
         </fieldset>
</form>