
<div app-corps>

    <router-outlet></router-outlet>
<!--<app-depot-demande-intervention></app-depot-demande-intervention>-->

<!--<app-intervention-en-cours></app-intervention-en-cours>-->
<!--<app-intervention-ag></app-intervention-ag>-->
<!--<app-intervention-archive></app-intervention-archive>-->
<!--<app-depot-demande-information></app-depot-demande-information>-->
<!--<app-information-en-cours></app-information-en-cours>-->
<!--<app-information-archive></app-information-archive>-->

</div>