<app-menu-detail-information></app-menu-detail-information>

<form style="margin-left: 50px">
  <fieldset class="form-group">
    <legend>Etat d'avancement de la demande </legend>
    <label> Numéro de la demande </label><br />
    <label> creation le </label><br />
    <label> Etat courant</label><br />
    <label> Gestionnaire </label><br />
  </fieldset>
  <fieldset class="form-group">
    <legend>Domaine</legend>
    <label> Sous domaine</label><br />
    <label>Description </label><br />
  </fieldset>
  <fieldset class="form-group">
    <legend>Pièces jointes</legend>
  </fieldset>
  <fieldset class="form-group">
    <legend>Fichier(s) attaché(s) aux messages</legend>
  </fieldset>

 <input class="btn btn-primary" type="submit" value="Submit">

</form>