<h1>dépot d'une demande intervention</h1>
<form id="demandeIntervention" method="post" class="demandeIntervention">
  <div class="row ">
    <app-description-demande></app-description-demande>
    <app-coproprietaire-contact-intervention></app-coproprietaire-contact-intervention>
  </div>
  <div class="row">
    <app-date-intervention></app-date-intervention>
    <div class="col-md-3 col-md-offset-3 bas-droite">
      <app-piece-jointe></app-piece-jointe>
    </div>
  </div>
  <div class="form-group">
    <div>
      <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal">Déposer une demande d'intervention</button>
    </div>
  </div>
</form>
<app-modal-success></app-modal-success>
<app-modal-access-denied></app-modal-access-denied>